<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="images/shorcut.jpg">
	<title>Same Fancy name</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Passion+One'>
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oxygen'>
</head>
<body>
	<style>
body {
  background-image:linear-gradient(to bottom, #99ccff 47%, #ffcc99 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
	<div class="container display">
		<div class="row main">
			<div class="panel-heading">
				<div class="panel-title text-center">
					<h1 class="title">Candidate Information</h1>
					<hr />
				</div>
			</div>
			<div class="main-login main-center">
				<form class="form-horizontal" method="post" action="/home">
					<div class="form-group">
                        <label for="cars">Recommended Job Type :</label>
                        <div class="cols-sm-10">
							<div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
								
								<select name= attributes1 class="form-control" >
									{% for ele in data %}
									{% if 'recommended_job_types' in ele%}
									<option value= "{{ele}}" SELECTED>{{ele.replace('recommended_job_types_','')}}</option>"
									{%endif%}
									{% endfor %}
								</select>
				
							</div>
							<div class="message" id="message_name">
							</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cars">Highest Educational Qualification :</label>
                        <div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
								<select name= attributes2 class="form-control" >
									<option value="none" >Select an Option </option>
									{% for ele in data %}
									{% if 'highest_education_' in ele%}
									<option value= "{{ele}}" SELECTED>{{ele.replace('highest_education_','')}}</option>"
									{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="message" id="message_name">
							</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cars">Disability Type :</label>
                        <div class="cols-sm-10">
							<div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
								
								<select name= attributes3 class="form-control" >
									{% for ele in data %}
									{% if 'disability_type_' in ele%}
									<option value= "{{ele}}" SELECTED>{{ele.replace('disability_type_','')}}</option>"
									{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="message" id="message_name">
							</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cars">Disability Sub Type :</label>
                        <div class="cols-sm-10">
							<div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
								<select name= attributes4 class="form-control">
									{% for ele in data %}
									{%if 'disability_sub_type_' in ele %}
									<option value= "{{ele}}" SELECTED>{{ele.replace('disability_sub_type_','')}}</option>"
									{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="message" id="message_name">
							</div>
                        </div>
                    </div>


                        
                        
					
             

                       <!-- <input type="submit">-->
                      
					<div class="form-group ">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-button" >Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/js.js"></script>
</body>
</html>
